.customers {
  margin-top: 0px;
  margin-bottom: 1px;
  padding-top: 94px;
  padding-bottom: 60px;

  &-link:hover {
    border: 1px solid $accent-color;
  }
  &-link:focus {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 94px;
  }
}

.customers-list {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  margin-left: 30px;

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    margin-left: 30px;
    height: 92px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 226px;
    margin-left: 30px;
    height: 92px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;

    margin-left: 30px;
    height: 92px;
  }
}

.customers-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-link__list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.customers-list:last-child {
  // margin-right: 0;
  // margin-bottom: 0;

  @media screen and (min-width: 480px) {
    margin-bottom: 0;
  }
}

.customers-list:nth-child(5) {
  @media screen and (min-width: 480px) {
    margin-bottom: 0;
  }
}

.customers-list:nth-child(4) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.customers-list:nth-child(-n + 3) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.customers-link:hover,
.customers-link:focus,
.customers-list__icon:hover,
.customers-list__icon:focus {
  fill: $accent-color;
}
