.footer {
  background-color: $section-hero;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;

  &-button:hover {
    background-color: #188ce8;
  }
  &-button:focus {
    background-color: #188ce8;
  }
}

.footer-list--wrapper,
.footer-wrapper,
.footer-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-address,
.footer-navigation {
  text-align: center;
}

.footer-wrapper > h2 {
  margin-bottom: 20px;
}

.footer-section__wrapper > h2 {
  margin-bottom: 20px;
}

.footer-wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    align-items: flex-start;
  }
}

.footer-list--wrapper {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
    // align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    align-items: flex-start;
  }
}

.footer-address {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-text {
  margin: 0 0 9px 0;

  color: $primary-white-color;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-navigation {
  margin-bottom: 9px;
  // @media screen and (min-width: 768px) {
  //   text-align: left;
  // }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-logo {
  display: flex;
  align-items: center;

  font-family: $second-font;
  font-weight: 700;
  text-decoration: none;
}

.footer-navigation__link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-style: normal;
}

.footer-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: start;
    text-align: start;
  }
}

.footer-icon {
  fill: $primary-white-color;
  margin: 13px 28px 13px 10px;
}

.footer-button {
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: $primary-white-color;

  padding: 0 0 0 29px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;

  width: 200px;

  @media screen and (min-width: 1200px) {
    margin: 0 0 0 12px;
  }
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  padding: 15px 0 13px 16px;

  width: 450px;
  outline: none;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-section__wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
}

.footer-wrapper > h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer-section__wrapper > h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  // margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $primary-white-color;
}

.text-footer {
  list-style: none;
  padding-left: 0;
  margin: 0;

  // @media screen and (min-width: 768px) {
  //   text-align: left;
  // }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.logo-footer--color {
  color: $primary-white-color;
  font-size: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
