.offers-title__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.offers-list__text {
  margin-top: 10px;
  margin-bottom: 0px;

  color: #757575;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.offers-list__navigation {
  margin-right: 30px;
  width: 270px;
}

.offers-list__navigation:last-child {
  margin-right: 0;
}

.offers-icon__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.offers-list__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers {
  margin-bottom: 0;
  padding: 94px 0;
}

.offers,
.works {
  background-color: $primary-white-color;
}
