.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;

  @media screen and (max-width: 480px) {
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .offers-list__title {
    display: flex;
    flex-direction: column;
  }
}
